body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

textarea:focus, input:focus{
    outline: none;
}

#map {
    width: 100%;
    height: 100%;
    margin-left: 0;
    transition: margin-left 1s cubic-bezier(0.65, 0.05, 0.36, 1);
    box-shadow: -5px -15px 20px rgba(63, 63, 63, 0.34);
}

#map.showdetails {
    margin-left: 80%;
}

#auth {
    padding: 10px;
}

#auth .avatar {
    width: 35px;
    height: 35px;
    border-radius:18px;
    margin-right: 5px;
    border: 1px solid #fff;
}

#auth .name,
#auth .checking {
    font-size: 16px;
    vertical-align: middle;
    margin-right: 5px;
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, -1px 1px 0 #fff, 1px -1px 0 #fff;
}

#add {
    margin-bottom: 20px;
    width: 500px;
    text-align: center;
}

#add .searchbox {
    margin-right: -10px;
    padding: 10px 12px 10px 10px;
    border-radius: 10px 0px 0px 10px;
    border: 1px solid #999;
}

#details {
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    height: 100%;
}

#details .back {
    text-align: right;
    font-weight: bold;
    padding: 10px;
    text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, -1px 1px 0 #fff, 1px -1px 0 #fff;
    text-decoration: none;
}

#details .header {
    padding: 20px;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
}

#details .header.withimage {
    min-height: 20%;
    text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, -1px 1px 0 #fff, 1px -1px 0 #fff;
    background-size: cover;
    background-position-y: bottom;
}

#details .attribution {
    float: right;
    font-size: 10px;
    margin-right: 15px;
    color: #ccc;
}

#details .attribution a {
    color: #ccc;
}

#details .content {
    padding: 10px;
}

#details .additionalDetails {
    text-align: right;
    padding: 10px 20px 0;
    font-size: 12px;
    font-style: italic;
    color: #999;
}

.locationDetails {
    text-align: center;
    list-style-type: none;
    padding: 0;
}

.locationDetails li {
    display: inline-block;
    width: 80px;
}

.locationDetails li a.disabled {
    color: #999;
}

.locationDetails li.wide {
    width: 180px;
    vertical-align: top;
}

.starLabel {
    vertical-align: top;
}

ul.stars {
    list-style-type: none;
    display: inline;
    padding: 0;
}

ul.stars li {
    width: 20px;
}